.header {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    align-items: left;
  }
  
  .tableTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }